{# form use by option/create new Property & admin/edit new option in ther template by include #}


{{ form_start(form) }}
    {{ form_rest(form) }}
    <button class ="btn btn-primary">{{  button|default('Enregistrer') }}</button>
{{ form_end(form) }}