{# ADMIN page with form to create one property #}
{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau bien !{% endblock %} 

{% block body %}

    <div class="container mt-4">
        <h1>Créer un nouvelle option !</h1> 

        {#  include the same form template also used by the create property page    #}
        {{  include ('admin/option/_form.html.twig', {form: form})  }}
        
    </div>

{% endblock %}